/* ---------------- CONFIGURACIóN GLOBAL ---------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

/* ---------------- VARIABLES GLOBALES ---------------- */
:root {
    --color-acento: #F4D03F;
    --color-texto: #1a1a1a;
    --color-texto-claro: #ffffff;
    --color-blanco: #ffffff; 
    --color-navbar: rgba(17, 24, 39, 0.85); 
    --color-fondo-oscuro: #111827;
    --fuente-titulos: 'Montserrat', sans-serif;
    --fuente-texto: 'Open Sans', sans-serif;
    
}

/* ---------------- TIPOGRAFIA GLOBAL ---------------- */

body {
    font-family: var(--fuente-texto);
    color: var(--color-texto);
    line-height: 1.6;
    background-color: var(--color-texto-claro);
}

h1, h2, h3 {
    font-family: var(--fuente-titulos);
    font-weight: 900;
    text-transform: uppercase;
}

h2 {
    font-size: clamp(2rem, 5vw, 3.5rem);
    color: var(--color-acento);
    margin-bottom: 1.5rem;
    line-height: 1.1;
}

p {
    font-size: 1.1rem;
    line-height: 1.8;
    max-width: 800px;
    margin-bottom: 1.5rem;
}

/* ---------------- NAV ---------------- */

.navbar {
    background-color: var(--color-navbar);
    padding: 15px 0;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1000;
    backdrop-filter: blur(10px); 
    -webkit-backdrop-filter: blur(10px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.navbar a {
    color: var(--color-blanco);
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.85rem;
    letter-spacing: 2px;
    transition: 0.3s ease;
}

.navbar a:hover {
    color: var(--color-acento);
    transform: translateY(-2px);
}

/* ---------------- HERO ---------------- */

.hero {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)), 
        url('assets_main/img-contacto.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: var(--color-texto-claro);
}

.hero h1 {
    font-size: clamp(2.5rem, 8vw, 5rem);
    margin-bottom: 15px;
    text-shadow: 4px 4px 15px rgba(0,0,0,0.8);
}

.hero h4 {
    font-size: clamp(1.1rem, 3vw, 1.8rem);
    font-weight: 400;
    font-style: italic;
    border-top: 4px solid var(--color-acento);
    padding-top: 15px;
    text-shadow: 2px 2px 8px rgba(0,0,0,0.7);
}

/* ---------------- MAIN ---------------- */

.seccion-informativa {
    min-height: 100vh;
    display: flex;
    align-items: center;
    padding: 100px 10%;
}

.seccion-informativa:nth-child(even) {
    background-color: hwb(220 33% 56% / 0.905);
}

.contenedor-flexible {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
}

.columna-texto, .columna-imagen {
    flex: 1;
    min-width: 320px;
}

.columna-imagen img {
    width: 100%;
    max-height: 80vh;
    object-fit: cover;
    border-radius: 12px;
    box-shadow: 0 15px 40px rgba(0,0,0,0.3);
}

/*------------------ Tarjetas-------------------------*/

.seccion-frases {
    position: relative;
    background-color: var(--color-fondo-oscuro); 
    padding-bottom: 100px;
    padding-top: 0;
    overflow: hidden;
}

/* Contenedor del SVG para la Ola */
.wave-divider {
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg); /* Invertimos para que la curva mire hacia abajo */
    background-color: transparent;
}

.wave-divider svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 80px;
}

.wave-divider .shape-fill {
    fill: #ffffff; 
}


.contenedor-frases {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    max-width: 1300px;
    margin: 60px auto 0 auto;
    padding: 0 40px;
}


.tarjeta-frase {
    flex: 1;
    min-width: 280px;
    max-width: 350px;
    background-color: rgba(255, 255, 255, 0.05); 
    padding: 40px 30px;
    border-radius: 15px;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275); 
}


.tarjeta-frase:hover {
    transform: translateY(-15px);
    background-color: rgba(255, 255, 255, 0.08);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.5);
    border-bottom: 4px solid var(--color-acento); 
}

.tarjeta-frase p {
    font-family: var(--fuente-texto);
    font-style: italic;
    font-weight: 400;
    color: var(--color-blanco);
    line-height: 1.6;
    margin: 0;
    font-size: 1.05rem;
}
/* ---------------- CONTACTO ---------------- */

#contacto {
    min-height: 100vh;
    padding: 80px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('assets_contacto/fondo-form.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#contenedor {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    max-width: 1300px;
    width: 100%;
    align-items: center;
    justify-content: center;
}

/* ---------------- FORMULARIO ---------------- */

form {
    background-color: rgba(255, 255, 255, 0.6); 
    padding: 20px 20px;
    border-radius: 15px;
    box-shadow: 0 20px 40px rgba(0,0,0,0.3);
    width: 100%;
    max-width: 450px;
}

form h1 {
    font-size: 22px;
    color: var(--color-fondo-oscuro);
    margin-bottom: 25px;
}

form p {
    margin-bottom: 15px;
    font-weight: 900;
    font-size: 1rem;
    color: var(--color-texto);
}

input[type="text"],
input[type="email"],
input[type="number"] {
    width: 100%;
    padding: 12px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-family: var(--fuente-texto);
}

input:focus {
    border-color: var(--color-acento);
    outline: none;
    box-shadow: 0 0 5px rgba(244, 208, 63, 0.5);
}

button[type="submit"] {
    width: 100%;
    padding: 15px;
    background-color: var(--color-fondo-oscuro);
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 20px;
}

button[type="submit"]:hover {
    background-color: var(--color-acento);
    color: var(--color-fondo-oscuro);
    
}


/* ---------------- FOOTER ---------------- */

.footer-simple {
    background-color: var(--color-fondo-oscuro);
    color: var(--color-blanco);
    padding:  20px 30px;
    text-align: center; 
}

.footer-info h3 {
    color: var(--color-blanco);
    margin-bottom: 10px;
    letter-spacing: 2px;
}

.footer-info p {
    margin: 0 auto; 
    opacity: 0.6;
    font-style: italic;
}

